.search_section {
  width: 100%;
  /* min-height: 100vh; */
  height: auto;
}

.search_bar {
  width: 100%;
  background-color: var(--c-white);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
  box-sizing: border-box;
}
.input_wrapper {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.input_wrapper i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  /* left: 16px; */
  margin: 0 16px;
  font-size: 20px;
  color: var(--c-dark);
  pointer-events: none;
}

.search_input_wrapper {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 12px 16px 12px 48px;
  font-size: 16px;
  border: 0;
  border-bottom: 1px solid var(--c-blue);
  outline: none;
  box-sizing: border-box;

  &:focus,
  &:hover {
    border-radius: 8px;
    box-shadow: 5px 5px 10px var(--c-dark);
    transition: 0.3s ease;
  }
}

.autocomplete_list {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  width: 100%;
  margin-top: 5px;
  padding: 0;
  font-size: 14px;
  background-color: var(--c-white);
  box-shadow: 5px 5px 10px var(--c-dark);
  border-radius: 8px;
  list-style: none;
  max-height: 160px;
  overflow-y: auto;
  z-index: 999;
}

.autocomplete_list li {
  padding: 10px;
}

.autocomplete_list li:hover {
  background-color: var(--c-alice);
  cursor: pointer;
}

.highlight {
  font-weight: bold;
  color: var(--c-blue); /* 원하는 색상으로 */
}

.search_result {
  position: relative;
  background-color: var(--c-alice);
  /* min-height: 100vh; */
  padding-top: 28px;
  /* height: auto;  */
  display: flex;
  flex-direction: column;
}

.search_result_title {
  display: none;
  position: relative;
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  color: var(--c-dark);
  margin: 20px 0 60px;
}

.card_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 12px 80px;
}

.exercise_card {
  width: 100%;
  max-width: 220px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.exercise_card img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  display: block;
}

.btn_load_more {
  background-color: var(--c-blue);
  /* position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%); */
  width: 191px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  margin: 20px auto;
  color: var(--c-white);
}

.btn_load_more i {
  font-size: 12px;
  margin-left: 5px;
}