
/* 탭 컨텐츠 영역 */
.result_wrap {
 width: 100%;
 padding: 28px 0 60px; 
 background-color: #EFF3FD;
}

.sub_tit {
  margin-bottom: 74px;
  color: var(--c-dark);
  text-align: center;
  font-family: "Noto Sans KR";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.96px;

 @media (max-width: 600px) {
    margin-bottom: 40px;
    font-size: 32px;
  }
}

.tab_wrap {
  max-width: 1200px;
  margin:0 auto;
}


.tab_wrap .tab_menu {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;

 @media (max-width: 600px) {
    flex-wrap: wrap;
  }
}

.tab_wrap .tab_menu > li {
  display: flex;
  justify-content: center;
  align-items:center;
  width: calc(100% / 5);
  height: 50px;
  cursor: pointer;
  box-sizing: border-box;
  border-bottom: 1px solid #90A3BF;
  transition: 0.3s ease-in-out;

  @media (max-width: 600px) {
    flex-wrap: wrap;
    width: 50%;
  }

  &.active {
    border-bottom: 4px solid var(--c-dark);

    & > button {
      color: var(--c-dark);
      font-weight: 700;
    }
  }

}

.tab_wrap .tab_menu > li > button {
  display: inline-block;
  text-decoration: none;
  font-size: 22px;
  color: rgba(44, 62, 80, 0.6);
  background-color: transparent;
  text-align:center;
  transition: 0.3s ease-in-out;
  
  @media (max-width: 600px) {
    font-size: 16px;
  }
}

.tab_cont_wrap {
  padding-top: 46px;
  max-width: 1200px;

  @media (max-width: 1200px) {
    padding: 46px 10px 0;
  }
}

.tab_cont_wrap .tab_cont {
  display:none;
  &.active {
    display: block;
  }
  
}
.card_wrap .no_data {
  width: 100%;
  text-align:center;
}
