.card_wrap{
  max-width:1200px;
  display: flex;
  flex-wrap: wrap;
  gap: 48px 40px;  
  margin: 0 auto;

}

.card_contents{
  display:block;
  position: relative;
  width: calc(100% / 3 - 26.6666px);
  height: 390px;
  border-radius: 10px;

  @media (min-width: 601px) and (max-width: 1200px) {
    width: calc(100% / 2 - 20px);
  }

  @media (max-width: 600px) {
    width: 100%;
  }
}
.card_contents img:first-child{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px; 
}

.card_contents .ex_name{
  font-size: 20px;
  line-height: 150%;
  font-weight: 700;
  color:white;
  top:20px;
  left:20px;
  position:absolute;
}

.card_contents .like{
  cursor: pointer;
  position: absolute;
  right:20px;
  top:20px;
}

.card_contents .view_detail_btn{
  border-radius: 4px;
  padding: 10px 28px;    
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color:var(--c-dark);
  position:absolute;
  right: 25px;
  bottom: 25px;
}
.card_contents .view_detail_btn:hover{
  background-color: var(--c-blue);
  color: #fff;
  transition: 0.3s ease;
}

.more_btn_wrap {
  display: flex;
  justify-content: center;
  margin-top: 49px;
  margin-bottom: 51px;
}
.more_btn{
  width: 191px;
  height: 44px;
  font-weight: 700;
  line-height: 150%;
  background-color: var(--c-blue);
  padding:0;
  color:white;
  font-size: 16px;
  border-radius: 4px;
  &:hover, &:active {
    border: 3px solid var(--c-blue);
    background-color: var(--c-alice);
    color: var(--c-blue);
    transition: 0.3s ease;
  }
}